<% load './lib/death_randomizer.rb' %>

<div id="background" data--100="background-color: rgb(153,255,255); width:100%; height:200px;"></div>

<div data-0="opacity: 1; width: 100%; position:fixed; text-align: center; top:50px;" data-100="opacity: 0; width: 100%; position:absolute; text-align: center; top:100px;">
  <p style="font-family: Acme; font-size: 5em; color:#274563; line-spacing: .1em;">See below!</p>
</div>

<!--
<% if @new_result %>
  <a href='/auth/twitter'>Tweet your results!</a><br /><br />
  <% if @new_result.death_age > 999 %>
    <%= @new_result.name %> - It looks like you are IMMORTAL!<br />
  <% else %>
    <% death_synonym = Death.get_random_synonym %>
    <% random_cause = Death.get_random_cause %>
    <% death_cause = random_cause[0] %>
    <% death_url = random_cause[1] %>
    <%= @new_result.name %> - <%= Death.get_random_synonym %><%= @new_result.death_age %>. <br /><br />
    Cause of death: <a href="<%= death_url %>"><%= death_cause %></a> <br /><br />
  <% end %>
<% end %>
-->

<!-- <br /><br /> -->

<div class="form-container results">
      <div class="user-response results">

      <% if @new_result %>
        <!-- <a href='/auth/twitter'>Tweet your results!</a><br /><br /> -->
        <a href='/auth/twitter'><img class="twitter-icon" src="/images/Twitter-Logo.png"></a><span class="result">Tweet out your result!</span><br /><br />
        <% if @new_result.death_age > 999 %>
          <font color="white"><%= @new_result.name %>, it looks like you are IMMORTAL!</font>
        <% else %>
          <% death_synonym = Death.get_random_synonym %>
          <% random_cause = Death.get_random_cause %>
          <% death_cause = random_cause[0] %>
          <% death_url = random_cause[1] %>

          <div>
            <h1 class="cause">What's going to happen:</h1>
            <br>
            <br>
            <p class="result"> <%= Death.get_random_synonym %><%= @new_result.death_age %>! </p>
          </div>

          <div>
            <h1 class="cause">Cause of prolonged sleep:</h1>
            <br>
            <br>
            <p class="result"> <a id="result-link" href="<%= death_url %>"><%= death_cause %></a> </p>
          </div>

          <div id="consolation">
            <% if @new_result.outlook == 'cheerful' %> <h3> Maybe if you weren't so <%= @new_result.outlook %> you would have been more aware! </h3>
            <% elsif @new_result.diet == 'children' %> <h3> Why didn't you ate less children Mr. Tyson, you would have had more nutrients ...and friends! </h3>
            <% elsif @new_result.sleep == 'ten' %> <h3> Why did you sleep so much, coders don't sleep! </h3>
            <% elsif @new_result.dirty_rainey == 'dirty' %> <h3> Dirty 6th, enough said. </h3>
            <% elsif @new_result.sport_vid == 'sport' %> <h3> Sports?? What's a sport, please refer to Terminal: $ man sport </h3>
            <% elsif @new_result.handed == 'left' %> <h3> Left handers are... "different" </h3>
            <% elsif @new_result.beer_liq == 'beer' %> <h3> Liquor before beer and you're in the clear, c'mon you know that!</h3>
            <% elsif @new_result.sega_nin == 'sega' %> <h3> So you're telling me you like Sonic more than Mario?? </h3>
            <% elsif @new_result.current_age <= 23 %>  <h3> If you were older you would have been wiser! </h3>
            <% elsif @new_result.ruby_js == 'css' %> <h3> lol css, good one </h3>
            <% else %> <h3> I have no advice for you <%= @new_result.name %>, sorry no immortality here </h3>
            <% end %>
          </div>
        <% end %>
      <% end %>

    <div class="row chart-container">
      <div class="google_chart" id="chart_div" style="width: 100%; height: 450px;"></div>
      <div class="google_chart" id="genderPie" style="width: 500px; height :500px;"></div>
      <div class="google_chart" id="handedPie" style="width: 500px; height :500px;"></div>
      <div class="google_chart" id="playPie" style="width: 500px; height :500px;"></div>
      <div class="google_chart" id="alcoholPie" style="width: 500px; height :500px;"></div>
      <div class="google_chart" id="partyPie" style="width: 500px; height :500px;"></div>
      <div class="google_chart" id="streetPie" style="width: 500px; height :500px;"></div>
      <div class="google_chart" id="fanboyPie" style="width: 500px; height :500px;"></div>
      <div class="google_chart" id="languagePie" style="width: 500px; height :500px;"></div>
      <div class="google_chart pie" id="chart_gauge_immortal" style="width: 500px; height :500px;"></div>
    </div>

    <% if @new_result %>
      <a class="cause try-again" href="/">Go back and try again</a>!
    <% else %>
      <a class="cause" href="/">Go back to the main page</a>!
    <% end %>


  </div>
</div>

<script type="text/javascript">

      var results = <%= @results.to_json %>;

</script>

<!--
<ul>
<% @results.each do |result| %>
  <li>
    <p>
      Name: <%= result.name %><br />
      Current Age: <%= result.current_age %><br />
      Death Age: <%= result.death_age %><br />
      Gender: <%= result.gender %><br />
      Location:  <%= result.location %><br />
      Diet: <%= result.diet %><br />
      Outlook: <%= result.outlook %><br />
      Sleep: <%= result.sleep %><br />
      Handed: <%= result.handed %><br />
      Sports or Videogames: <%= result.sport_vid %><br />
      Beer or Liquor: <%= result.beer_liq %><br />
      Republican or Democrat: <%= result.rep_dem %><br />
      Dirty or Rainey: <%= result.dirty_rainey %><br />
      Sega or Nintendo: <%= result.sega_nin %><br />
      Ruby or JS or CSS: <%= result.ruby_js %><br />
      Created At: <%= result.created_at %>
    </p>
  </li>
<% end %>
</ul>
-->